@model tbPortfolio.Models.Comment

@{
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<link rel="stylesheet" href="~/css/myBlogCommentAdmin.css">




@{
    ViewBag.Title = "Edit";
}

<section id="commentHome">
    <div class="container">
        <div class="row contentArea">
            <h1 style="margin-left: 10px">Edit Comment</h1>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.PostId, "PostId", htmlAttributes: new { @class = "control-label col-md-2", style="display:none" })
                        <div class="col-md-10">
                            @Html.DropDownList("PostId", null, htmlAttributes: new { @class = "form-control", style="display: none"})
                            @Html.ValidationMessageFor(model => model.PostId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.AuthorId, "AuthorId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.DropDownList("AuthorId", null, htmlAttributes: new { @class = "form-control", style="display:none"})
                            @Html.ValidationMessageFor(model => model.AuthorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.Created, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Updated, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.Updated, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Updated, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UpdateReason, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UpdateReason, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UpdateReason, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save Update" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            }
            <div style="margin-left: 10px">
                <a href="@Url.Action("Details", "BlogPosts", new { slug = Model.Post.Slug})">Back To Post</a>
            </div>
        </div>
    </div>
</section>